﻿@{
    ViewData["Title"] = "Index";
}

<h1>Grupos</h1>

<button type="button" onclick="Grupo.PintaAlta();" class="btn btn-primary" data-toggle="modal" data-target="#pintaUsuario">
    Crear Grupo
</button>

<input id="grupoId" type="hidden" class="form-control">

<div class="text-center">
    <table class="table">
        <thead>
            <tr>               
                <th scope="col">Grupo</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="grupos">
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="pintaUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div id="crearUser" class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombreGrupo">Nombre</label>
                        <input id="nombreGrupo" type="text" class="form-control">
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                <button type="button" onclick="Grupo.Alta();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pintaProfesores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="materia">materia</label>
                        <input id="materia" disabled type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="grupoNombre">grupo</label>
                        <input id="grupoNombre" disabled type="text" class="form-control">
                    </div>
                    <div id="seccionProfesores" class="form-group col-md-10">
                        <label for="profesores">profesor</label>
                        <select id="profesores" class="form-control">
                            <option value="0" selected>[Elije]</option>
                        </select>
                    </div>
                    <div id="seccionAlumnos" class="form-group col-md-11">
                        <label>selecciona alumnos</label>                        
                    </div>
                    <div id="seccionDetalle" class="form-group">
                        <div class="form-group col-md-9">
                            <label for="grupoNombre">profesor</label>
                            <input id="profesorNombre" disabled type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-9">
                            <label>Alumnos inscritos</label><label>calificacion</label>
                        </div>
                        <div id="alumnos" class="form-group col-md-9">                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                <button type="button" id="manejadorProfesor" onclick="Grupo.AltaProfesor();" class="btn btn-primary">Guardar</button>
                <button type="button" id="manejadorAlumnos" onclick="Grupo.AltaAlumnos();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        Grupo.Get()
        Grupo.GetProfesores()
        Grupo.GetAlumnos()
    };
</script>