﻿
@{
    ViewData["Title"] = "Alumno";
}

<h1>Alumno</h1>
<h1 id="nombre" class="display-4"></h1>

<div>
    <input id="personaId" type="hidden" class="form-control">
    <input id="grupoId" type="hidden" class="form-control">

    <div id="seccionIngresar" class="form-row">
        <div class="form-group col-md-9">
            <label for="alumno">Boleta</label>
            <input id="alumno" type="number" class="form-control">
        </div>

        <div class="form-group col-md-2">
            <button type="button" onclick="User.IngresaAlumno()" class="btn btn-primary">Buscar calificaciones</button>
        </div>
    </div>

    <div id="calificaciones" style="display:none;">
        <div id="seccionGrupo" class="form-row">
            <div class="form-group col-md-9">
                <label for="grupo">Grupo</label>
                <input id="grupo" disabled type="text" class="form-control">
            </div>
        </div>

        <div class="text-center">
            <table  class="table" >
                <thead>
                    <tr>
                        <th scope="col">Materia</th>
                        <th scope="col">Calificacion</th>

                    </tr>
                </thead>
                <tbody id="materias">
                </tbody>
            </table>
        </div>
    </div>
</div>