﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Usuarios</h1>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Grupo" asp-action="Index">Grupos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Materia" asp-action="Index">materias</a>
                </li>
            </ul>
        </div>

    </nav>
</div>

    <div class="text-right">
        <button type="button" onclick="User.PreparaAlta();" class="btn btn-primary" data-toggle="modal" data-target="#pintaUsuario">
            Crear Usuario
        </button>
    </div>

    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">tel</th>
                    <th scope="col">editar</th>
                </tr>
            </thead>
            <tbody id="users">
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pintaUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alta/Edita usuarios</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="crearUser" class="form-row">
                        <input id="userId" type="hidden" class="form-control">
                        <div class="form-group col-md-5">
                            <label for="nombreUser">Nombre</label>
                            <input id="nombreUser" type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="rolesPersona">Rol</label>
                            <select id="rolesPersona" class="form-control">
                                <option value="0" selected>[Elije rol]</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="grupo">Grupo</label>
                            <select id="grupo" class="form-control">
                                <option value="0" selected>[Elije grupo]</option>
                            </select>
                        </div>
                    </div>
                    <div id="crearUser" class="form-row">
                        <div class="form-group col-md-6">
                            <label for="direccionUser">Direccion</label>
                            <input id="direccionUser" type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="telPersona">tel</label>
                            <input id="telPersona" maxlength="10" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                    <button type="button" onclick="User.Alta();" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pintaMaterias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Asignar materias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Grupo</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="materiaDisponibles">
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                    <button type="button" onclick="User.AltaMaterias();" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            Escuela.GetRoles()
            User.Get()
            User.GetGrupos()
        };
    </script>



