﻿
@{
    ViewData["Title"] = "Profesor";
}

<h1>Profesor</h1>
<h1 id="nombre" class="display-4"></h1>

<div>
    <input id="personaId" type="hidden" class="form-control">
    <input id="grupoId" type="hidden" class="form-control">

    <div id="seccionIngresar" class="form-row">
        <div class="form-group col-md-9">
            <label for="empleado">Numero empleado</label>
            <input id="empleado" type="number" class="form-control">
        </div>

        <div class="form-group col-md-2">
            <button type="button" onclick="User.IngresaProfesor()" class="btn btn-primary">Acceder</button>
        </div>
    </div>
</div>

<button id="busca" type="button"  class="btn btn-primary" data-toggle="modal" data-target="#buscaAlumno" style="display:none;">
    busca alumno
</button>

<div class="modal fade" id="buscaAlumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Busca</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="crearUser" class="form-row">
                    <div class="form-group col-md-6">
                        <label for="boleta">boleta</label>
                        <input id="boleta" type="number" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                <button type="button" onclick="User.Busca();" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="calificador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Califica</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="crearUser" class="form-row">
                    <div class="form-group col-md-6">
                        <label for="alumno">alumno</label>
                        <input id="alumno" type="text" max="10" disabled class="form-control">
                    </div>
                    <p>estas son las materias en las que estan inscritos ambos, pueder agregar/modificar calificaciones</p>
                </div>
                <div id="materias">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                <button type="button" onclick="User.Califica();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
