﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Materias</h1>
<input id="materiaId" type="hidden" class="form-control">

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="materias">
        </tbody>
    </table>
</div>

<button type="button" onclick="Materia.PreparaAlta();" class="btn btn-primary" data-toggle="modal" data-target="#pintaUsuario">
    Crear materia
</button>

<!-- Modal -->
<div class="modal fade" id="pintaUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Materia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="crearUser" class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombreMateria">Nombre</label>
                        <input id="nombreMateria" type="text" class="form-control">
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                <button type="button" onclick="Materia.Alta();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pintaPersonas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Materia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-6 col-form-label">Nombre</label>
                    <div class="col-sm-6">
                        <span><input id="materiaNombre" type="text" readonly class="form-control-plaintext"></span>
                    </div>
                </div>

                <p id="slectorAlumo">selecciona alumnos</p>
                <p id="slectorProfesor">selecciona profesores</p>
                <div id="seccionPersonas" class="form-group col-md-11">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                <button type="button" onclick="Materia.AltaPersonas();" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        //Escuela.GetRoles()
        Materia.Pinta()
    };
</script>
